/* Awal Jumbotron */
.jumbotron {
  padding-top: 5rem;
  background-image: url(img/3.jpg);
  background-size: cover;
  /* height: 440px; */
  /* text-align: center; */
}
.jumbotron .display-4 {
  color: white;
}

.jumbotron .lead {
  color: white;
}

.jumbotron p {
  color: white;
}
.jumbotron .btn {
  background-color: #00000080;
  border: none;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 40px;
}
/* Akhir Jumbotron */

#desain {
  background-color: #f3f4f5;
}
#desain .btn {
  background-color: #00000080;
  border: none;
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 0px;
}

#fasilitas {
  background-color: #f3f4f5;
}
